<!DOCTYPE html>
<html lang="en">
<head>
      <title>Anurag Toastmasters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<!--<div class="jumbotron text-center">
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
                  <img src="assets\images\AU-Logo.png" width="90" height="90"></div>
                <div class="text-center">
                 <h1>Anurag Toastmasters</h1>
            <em>....into a better tomorrow</em></div>
                    <div class="col-sm-4">
                <img src="assets\images\TM Logo2.png" width="130" height="100"></div>
</div>
</div>
</div>-->
<nav class="navbar navbar-expand-sm navbar-custom">
   <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <div class="n"><a class="navbar-brand" href="">Home</a></div> 
      </li>

          <li class="nav-item active">
            <div class="n">
        <a class="navbar-brand waves-light mdbWavesEffect" href="etiquette">Club Etiquette <span class="sr-only">(current)</span></a>
    </div>
      </li>
      <li class="nav-item active">
    
        <div class="n">
          <div class="dropdown">
        <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Achievements</a>
        <!--href="#" role="button" aria-haspopup="true" aria-expanded="false"-->
				<div class="dropdown-menu">
					<a class="dropdown-item" href="awardsandrecognitions">Awards and Recognitions</a>
					<a class="dropdown-item" href="contests">Contests</a>
							</div></div></div>
		
    
    
    </li>
      <li class="nav-item active">
        <div class="n"><a class="navbar-brand" href="executivecommittee">Executive Committee</a></div> 
      </li>
      <li class="nav-item active">
        <div class="n"><a class="navbar-brand" href="pathways">Pathways</a></div>
      </li>
      <li class="nav-item active">
        <div class="n"> <a class="navbar-brand" href="resources">Resources</a></div>
      </li>

    </ul>
</nav>

</body>
</html>
<router-outlet></router-outlet>