<!DOCTYPE html>
<html lang="en">
<head>
      <title>Anurag Toastmasters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center">  
        <div class="light">
        <h1>Founding Members of the Club</h1></div></div>
    <div class=brown>
                <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                          <img src="assets\images\DR. G. Vishnu Murthy Deputy Director.png" width="250" height="250"></div>                   
                          <div class="col-sm-4">
                            <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
                        </div>
                      </div>
                        </div><br>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                            <img src="assets\images\Mrs. S. Deepika.png" width="250" height="250"></div>
                            <div class="col-sm-4">
                                <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
                            </div>
                            </div>
                            </div><br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4">
                                <img src="assets\images\Mrs. Sarika Chowdary.png" width="250" height="250"></div>
                                <div class="col-sm-4">
                                    <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
                                </div>
                                </div>
                                </div>
                        </div>
          <div class="text-center">  
              <div class="light">
         <h1>Executive Committee</h1></div></div>
 <div class=blue>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>President</h1>
              <img src="assets\images\President.png" width="250" height="250"></div>
            
            
              <div class="col-sm-4">
                  <p class="font-weight-bolder">President's Note</p>
                <em>"Toastmasters is'nt just a club. It is a process of metamorphosis. From a shy, scared individual to the one who leads, exudes confidence and is willing to go above and beyond. My journey with toastmasters is a little learning everyday, when I look back, I know I have come far. I have learnt to dedicate, devote time in self improvement and constant learning. Also sharpening my leadership skills along the journey"</em>
            </div>
            </div>
            </div><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h1>Vice President Education</h1>
                <img src="assets\images\Vice President Education.png" width="250" height="250"></div>
                <div class="col-sm-4">
                    <p class="font-weight-bolder">VPE's Note</p>
                <em>"I have been a member of Anurag Toastmasters for over 6 months. My active participation in Toastmasters meetings and the zeal to improve myself has boosted my confidence, Public speaking skills, Managing skills. When I look back and compare myself now, I could see great difference in myself! For me a Toastmasters meeting is like badminton practice. I can sit on the bench learning new things or actively participate. The more I participate, the better I will get. Toastmasters has been a great investment and worthy for me."</em>
            </div>
            </div>
            </div><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h1>Vice President Membership</h1>
                <img src="assets\images\Vice President Membership.png" width="250" height="250"></div>
                <div class="col-sm-4">
                    <p class="font-weight-bolder">VPM's Note</p>
                    <em>"I have no stage fear. I am always comlimented for my voice. I love expressing. But i cannot give a speech for 5 minutes continuously. What will ever be the best place to improve my impromptu speaking skills, boost up confidence other than Toastmasters. I have been here for more than a year. When I turn back, I can see how I have built my personality with the help of mentors who are always kind to me. I really feel proud to be a Toastmaster."</em>
                </div>
                </div>
                </div><br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1>Vice President Public Relations</h1>
    <img src="assets\images\TM Kushal.jpg" width="250" height="250"></div>
    <div class="col-sm-4">
        <p class="font-weight-bolder">VPPR's Note</p>
        <em>"Being new to Toastmasters, I loved how quickly I could improve myself in speaking, whether a speech or a role play, I felt challenging in positive positive way. I found the atmosphere in Toastmasters as friendly, supportive and encouraging. The feedback I have received has helped me gain confidence and refine my public speaking skills in a short period of time."</em>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Secretary</h1>
    <img src="assets\images\Secretary.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p class="font-weight-bolder">Secretary's Note</p>
        <em>"Out of curiosity to know what the word Toastmasters means, I attended one of the meetings of our club Anurag Toastmasters. That was the day when I thought this was what I was looking for. I was successful in eliminating my fear of the stage. After a delightful journey of one and a half years as a Toastmaster, I could observe my confidence levels boosted drastically. As a Toastmaster, I got to hang out with people with exceptional public speaking skills who were kind enough to guide me whenever I got struck."</em>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Treasurer</h1>
    <img src="assets\images\Treasurer.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p class="font-weight-bolder">Treasurer's Note</p>
        <em>"Public speaking is essential, tells everyone, but having a platform to develop, it was not easy which Toastmasters have provided me with. Its been few months in Toastmasters and I am able to overcome my greatest fear of stage which is made possible by the stressless, friendly and cheering atmosphere. I have made amazing friends who helped to push my limits and made me take up role which I never thought I can."</em>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Sergeant at arms</h1>
    <img src="assets\images\Sergeant at arms.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p class="font-weight-bolder">SAA's Note</p>
        <em>"Toastmasters helped me improve my communication skills in a safe, encouraging and supportive environment. I have improved in listning, critical thinking, giving feedback, time management, planning and implementation. I could achive many leadership skills through Toastmasters meetings."</em>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Immediate Past President</h1>
    <img src="assets\images\Immediate Past President.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p class="font-weight-bolder">IPP' Note</p>
        <em>"I still remember the first time when I was trembling to speak on stage. Speaking two words seemed like a impossible task to me. But ever since I joined Toastmasters, everything started to change. It has given me a stage to experiment, a stage to grow, a stage which has made a better person than who I was and ultimately a stage which gave me so many memories which I will cherish my entire life."</em>
    </div>
    </div>
    </div>

</div>
    <div class=yellow>
        <div class="col-lg-4 m-auto d-block"><br>
    <img src="assets\images\EC-Team.png" width="400" height="400">           
</div>