.yellow{
    background-color:rgb(243, 229, 101);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .brown{
    background-color:brown;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blue{
    background-color:rgb(190, 190, 211);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .light{
    background-color:antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
  }

