<!DOCTYPE html>
<html lang="en">
<head>
      <title>Anurag Toastmasters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class=brown>
        <div class="text-center">  
            <h1>Founding Members of the Club</h1></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                          <img src="assets\images\SarikaMam.png" width="250" height="250"></div>
                        
                        
                          <div class="col-sm-4">
                            <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
                        </div>
                        </div>
                        </div>
                        </div>
 <div class=blue>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
              <img src="assets\images\President.png" width="250" height="250"></div>
            
            
              <div class="col-sm-4">
                <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
            </div>
            </div>
            </div><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                <img src="assets\images\Vice President Education.png" width="250" height="250"></div>
                <div class="col-sm-4">
                <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
            </div>
            </div>
            </div><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                <img src="assets\images\Vice President Membership.png" width="250" height="250"></div>
                <div class="col-sm-4">
                    <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
                </div>
                </div>
                </div><br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
    <img src="assets\images\TM Kushal.jpg" width="250" height="250"></div>
    <div class="col-sm-4">
        <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
    <img src="assets\images\Secretary.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
    <img src="assets\images\Treasurer.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
    <img src="assets\images\Sergeant at arms.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
    </div>
    </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
    <img src="assets\images\Immediate Past President.png" width="250" height="250"></div>
    <div class="col-sm-4">
        <p>Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.</p>
    </div>
    </div>
    </div>

</div>
    <div class=yellow>
        <div class="col-lg-4 m-auto d-block"><br>
    <img src="assets\images\EC-Team.png" width="400" height="400">           
</div>