<!DOCTYPE html>
<html lang="en">
<head>
      <title>Anurag Toastmasters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="text-center">  
    <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
    <h1>International Speech Contest and Table Topics Contest 2020</h1></div></div>
<div class=brown>
            <div class="container">
            <div class="row">
                <div class="col-sm-4">
                      <img src="assets\images\ISC 2020.png" width="300" height="250"></div>
                      <p>TM Chandra Sekhar and TM Sarika represented club, area level and divion level contest</p>                   
                    </div>
                    </div>
</div>

                    <div class="text-center">  
                      <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
                      <h1>Humoroust Speech Contest and Speech Evaluation Contest 2019</h1></div></div>
                  <div class=brown>
                              <div class="container">
                              <div class="row">
                                  <div class="col-sm-4">
                                        <img src="assets\images\HSC1 2019.png" width="300" height="250"></div>  
                                        <img src="assets\images\HSC2 2019.png" width="300" height="250">   
                                        <p>TM Chandra Sekhar represented club and area level contest for both Humoroust Speech Contest and Speech Evaluation Contest</p>               
                                        <img src="assets\images\HSC Area level.png" width="250" height="300"> 
                                      </div>
                                      </div>
                  </div>                  
                                      <div class="text-center">  
                                        <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
                                        <h1>International Speech Contest and Table Topics Contest 2019</h1></div></div>
                                    <div class=brown>
                                                <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                          <img src="assets\images\ISC 2019.png" width="300" height="250"></div>
                                                          <p>TM Sarika represented club level, area level and divion level Contest</p>                   
                                                        </div>
                                                        </div>
                                                       </div>                
      



<!--<p>International Speech Contest and Table Topics Contest 2020</p>
<p>TM Chandra Sekhar and TM Sarika represented club, area level and divion level contest</p>
<p>Humoroust Speech Contest and Speech Evaluation Contest 2019</p>
<p>TM Chandra Sekhar represented club and area level contest for both Humoroust Speech Contest and Speech Evaluation Contest</p>
<p>International Speech Contest and Table Topics Contest 2019</p>
<p>TM Sarika represented club level, area level and divion level Contest</p>
</body>
</html>-->