<!DOCTYPE html>
<html lang="en">
<head>
      <title>Anurag Toastmasters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="text-center">  
    <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
    <h3>Joint Meet with HSBC Toastmasters Club 2020</h3></div></div>
<div class=brown>
            <div class="container">
            <div class="row">
                <div class="col-sm-4">
                      <img src="assets\images\Joint meet HSBC-2020.png" width="300" height="300"></div>  
                      <div class="col-sm-1"></div>
                      <div class="col-sm-4"><br><br>
                      <p>Joint meet with HSBC(EagerBever's Club) and Anurag Toastmasters is been held on 14th Feb 2020 where we met lot of coorporate people and exchanged knowledge of their meetings and other coorperate details. Club members got to know many new things with the meeting and also had enough time for networking with HSBC club members.</p>
                    </div>
                    </div>
                    </div>
</div> 

  <div class="text-center">  
    <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
    <h3>Joint Area-G3 MEeeting 2019</h3></div></div>
<div class=brown>
            <div class="container">
            <div class="row">
                <div class="col-sm-4">
                      <img src="assets\images\jointmeet g3-2019.png" width="400" height="500"></div>
                      <div class="col-sm-1"></div>
                      <div class="col-sm-4"><br><br><br><br>
                      <p>Area-G3 joint meet was held on 22nd june 2019 with 5 clubs and witnessed wonderfull speeches from different clubs</p>
                    </div></div></div>
</div>
      
                                      <div class="text-center">  
                                        <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
                                        <h3>Best Orator Champion ship held at Anurag University 2019</h3></div></div>
                                    <div class=brown>
                                                <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                          <img src="assets\images\BOC-2019.png" width="300" height="250"></div>
                                                          <div class="col-sm-4">
                                                          <img src="assets\images\BOC image1.png" width="300" height="250"></div>
                                                          <div class="col-sm-4">
                                                          <img src="assets\images\BOC image2.png" width="300" height="250"></div>
                                                       <p>Best Orator Championship is the first event conducted by the members of Anurag Toastmasters club thorugh Aagama fest in the college to give opportunity for non-toastmasters to experience the stage of public speaking platform and got great response from the audience through the event</p>
                                                        </div>
                                                        </div>
                                                       </div> 
                                                       
                                                       <div class="text-center">  
                                                        <div class="light" style="margin:0;width: 100%;height: 10%;background: antiquewhite;padding-bottom:1px">
                                                        <h3>ANURAG TOASTMASTERS CLUB INAUGURAL 2019</h3></div></div>
                                                    <div class=brown>
                                                      <p>Club Inaugural is done on 16th march 2019 with the presence of club members and club faculty coordinators and later all the members given charter certificates on the recognition of Deputy Director DR. G. Vishnu Murthy</p>
                                                                <div class="container">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                          <img src="assets\images\Club inaugural.png" width="300" height="250"></div>
                                                                          <div class="col-sm-4">
                                                                          <img src="assets\images\Club inaugural image1.png" width="300" height="250"></div>
                                                                          <div class="col-sm-4">
                                                                          <img src="assets\images\Club inaugural image2.png" width="300" height="250"></div>
                                                                       </div>
                                                                        </div>
                                                                       </div> 