<!DOCTYPE html>
<html lang="en">
<head>
      <title>Anurag Toastmasters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
                  <img src="assets\images\AU-Logo.png" width="90" height="90"></div>
                <div class="text-center">
                 <h1>Anurag Toastmasters</h1>
            <em>....into a better tomorrow</em></div>
                    <div class="col-sm-4">
                <img src="assets\images\TM Logo2.png" width="130" height="100"></div>
</div>
</div>
</div>
<!--<nav class="navbar navbar-expand-sm navbar-custom">
    <ul class="navbar-nav mr-auto">
          <li style="margin:5px;" class="nav-item active">
            <div class="n">
        <a class="navbar-brand waves-light mdbWavesEffect" href="etiquette">Club Etiquette <span class="sr-only">(current)</span></a>
    </div>
      </li>
      <li style="margin:5px;" class="nav-item active">
        <div class="n">
              <div class="dropdown">
          <a class="navbar-brand dropdown-toggle" data-toggle="dropdown">Achievements</a>
           <div class="dropdown-menu">
              <a class="dropdown-item" href="awards">Awards</a>
              <a class="dropdown-item" href="contets">Contests</a>
              <a class="dropdown-item" href="#">Joint Meetings</a>
            </div>
          </div>
      
      
      </div>
    </li>
      <li style="margin:5px;" class="nav-item active">
        <div class="n"><a class="navbar-brand" href="executivecommittee">Executive Committee</a></div> 
      </li>
      <li style="margin:5px;" class="nav-item active">
        <a class="navbar-brand" href="pathways">Pathways</a>
      </li>
      <li style="margin:5px;" class="nav-item active">
        <a class="navbar-brand" href="resources">Resources</a>
      </li>

    </ul>
</nav>-->

<div class="f">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What is Toastmasters?</h3>
      <div class="bs-example">
        <div class="popover-demo mb-2">
            <p>
        Toastmasters International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership exceeds 358,000 in more than 16,800 clubs in 143 countries. Since 1924, Toastmasters International has helped people from diverse backgrounds become more confident speakers, communicators, and leaders.
        <!--Do you want to practice public speaking, improve your communication and build leadership skills? With Toastmasters, you can break barriers, not your budget. Learn more about the history of the organization and our methodology to help maximize your potential!-->
      </p>
           <!--<div class="bs-example">
        <div class="popover-demo mb-2">-->
                  <a href="javascript://" class="#" data-toggle="popover" tabindex="0" data-trigger="focus" title="All about Toastmasters" data-content="Toastmasters International focuses on Public Speaking, Communication and Leadership. The Pathway programs are build in such a way to strengthen one's skills to tackle any situation in one's life. It teaches significant life skill's, that would help in one's personal and professional growth. To more about Toastmasters International and its history please visit TI website.">Learn More</a>
                  <!--class="btn btn-info"-->   
                </div>
      </div>
          </div>
    <div class="col-sm-4">
        <h3>Club Details</h3>
        <p>
          We at Anurag Toastmasters Conduct meetings twice in a month and encourage feedback from guests to improve from one meeting to other. Here we create friendly and learning atmosphere for all the members with organised meetings.
      </p>
      <div class="bs-example">
        <div class="popover-demo mb-2">
      <a href="javascript://" class="#" data-toggle="popover" tabindex="0" data-trigger="focus" title="Details" data-content="Every typical meeting consists of three segments. 1. Prepared speeches. 2. Table Topics. 3. Evaluation. Every segment is designed in a way that the member improves in his/her skills of communication and leadership. To find out more about the club you can contact TM Kushal(VPPR)- 9100636369">Learn More</a>
        </div></div>
            </div>
      <div class="col-sm-4">
        <h3>Club History</h3>
        <p>
Anurag Toastmasters is chattered in the year 2019 febuary 5th with the great support of our deputy director, Faculty coordinators and our Director 
</p>  
<div class="bs-example">
  <div class="popover-demo mb-2">
<a href="javascript://" class="#" data-toggle="popover" tabindex="0" data-trigger="focus" title="History" data-content="Our club was initiated by Deputy Director DR. G. Vishnu Murthy who showed immense support in growth of softskills in students and also encouraged memebers to benifit from the club. Club faculty coordinators Mrs. S. Deepika and Mrs. Sarika Chowdary have given their valuable time and support for the club to grow in terms of quality and integrity.">Learn More</a>
  </div></div>

</div>
</div>
        <!--<img src="assets\images\background.png" width="1000" height="500">-->


  </div>
</div>
<div class="c">
    <div class="a">
    <div class="text-center">
<h3>Next ATM Meeting is on<br><br></h3></div></div>
<div class="container">
  <div class="row">
<img class="col-sm-4" src="assets\images\mic-icon.png" width="100" height="150">
<div class="col-sm-4">
    <div class="a">
 <a>6th June 2020<br>
        10:30 am to 12:30 pm<br><br>
        <div class="text-right">
            <em> Venue:D-Block auditorium
                 Contact:TM Kushal Vidya -9100636369
                          </em> </div>
        </a></div></div>
<img class="col-sm-4" src="assets\images\lecture-image.png" width="150" height="250">
</div>
</div>
</div>

<div class="contactdetails">

<h3>please fill the details below to attend the coming meeting of ATM</h3>
<div class="col-lg-4 m-auto d-block">
<form #userForm="ngForm" (ngSubmit)='onSubmit()'>
      
  <div class="form-group">
      <label><span class="req"></span>User Id </label>
<input required minlength="1" type="number" #userIdRef='ngModel' name="userId" ngModel class="form-control">
      <div *ngIf='userIdRef.errors && userIdRef.touched' class="alert alert-danger">
          <div [hidden]='!userIdRef.errors.required'> Provide UserId </div>
      </div>
  </div>

  <div class="form-group">
      <label><span class="req"></span>Password </label>
<input required minlength="5" type="password" #passwordRef='ngModel' name="password" ngModel class="form-control">
      <div *ngIf='passwordRef.errors  && passwordRef.touched' class="alert alert-danger">
          <div [hidden]='!passwordRef.errors.required'>Provide Password</div>
      </div>
  </div>



<input  [disabled]="userForm.invalid" type="submit" value="Login" class="btn btn-primary col align-self-center">
</form>
</div>

</div>
</body>
</html>